JobDataset.xsd

<xs:schema id="JobDataset" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Jobs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Job" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Connection" type="xs:string" />
							<xs:element name="JobFile" type="xs:string" />
							<xs:element name="EndType" type="xs:string" />
							<xs:element name="PrepTime" type="xs:string" />
							<xs:element name="StartTime" type="xs:string" />
							<xs:element name="TotalTime" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
